%form{action: "/search", method: "post"}
  %label Search
  %select
    %option{value: "Films"} Films
    %option{value: "Reviews"} Reviews
    %input{type: "text"}
  %input{type: "submit", value: "Go"}