* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
/*    border: 1px solid red;*/
    font-family: Verdana;
}

.container {
  position: relative;
  width: 960px;
}

#nav-bar {
  position: absolute;
  left: 0px;
  width: 200px;
  height: 600px;
  background-color: #b8b894;
}

#main-body {
  position: absolute;
  left: 200px;
}

#cats {
  max-width: 200px;
}

#login-nav {
  padding: 10px;
  background-color: #6b6b47;
}

#other-nav {
  padding: 10px;
  background-color: #6b6b47;
  color: #f5f5f0;
}

nav a
  color: #f5f5f0;
}

#main-body {
  height: 600px;
  padding: 40px;
  width: 700px;
  background-color: #d6d6c2;
  color: #cc0000;

}

#main-body a {
  color: #0f0f0a

}
li {
  list-style: none;
}
