<ul class="xit">
  <% film.reviews.order(created_at: :desc).each do |review| %>
    <li>
      <%= render partial: 'reviews/review_details', locals: { film: film, review: review } %>
    </li>
  <% end %>
</ul>
